.loading,
.close,
.far,
.medium,
.not-found {
  color: white !important;
  padding: .2rem .5rem;
}

.found.medium {
  background-color: orange;
  color: black !important;
}

.found.close {
  background-color: green;
}

.found.far {
  background-color: red;
}

.not-found, .loading {
  background-color: #007bff;
}

.sr-grid-cell {
height: auto !important;
}
